@media screen and (min-width: 760px) {
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
    .navigation li {
      display: inline;
      flex: 1 1 auto;
    }
  
    .navigation a {
      text-align: center;
    }
  
    #menu {
      display: none;
    }
  
    .navigation.show {
      flex-direction: row;
    }
  }